@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

/***** Morning clock ******/
body {
    background-image: url('images/setUpMobile.jpeg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    color: #383435;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.time_ctn {
    background-color: rgba(127, 89, 126, 0.471);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    color: rgb(238, 238, 238);
    text-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    font-size: 2rem;
}

.time_ctn>p {
    padding: 1rem 0;
}

.time_ctn>span {
    background-color: rgb(88, 154, 204);
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    font-weight: 300;
}

/***** Night clock *****/
body.night {
    background-image: url('images/moonMobile.jpg');
    background-position-x: center;
}

.time_ctn.night {
    background-color: rgba(255, 205, 137, 0.3);
    box-shadow: rgba(255, 205, 137, .5) 0 0 5px;
}

.time_ctn.night>span {
    background-color: rgba(1, 1, 39, 0.6);
}

@media screen and (min-width:437px) {

    .time_ctn>p {
        font-size: 2.5rem;
    }

    .time_ctn>span {
        padding: 1rem 1.5rem;
        font-size: 1.8rem;
    }
}

@media screen and (min-width:748px) {

    /***** Morning clock *****/
    body {
        background-image: url('images/setUpDesktop.jpeg');
        background-position-y: center;
    }

    /***** Night clock *****/
    body.night {
        background-image: url('images/moonTablet.jpg');
    }

    .time_ctn {
        padding-top: 1.5rem;
    }

    .time_ctn>p {
        font-size: 3rem;
    }

    .time_ctn>span {
        padding: 1rem 1.5rem;
    }
}

@media screen and (min-width:1024px) {

    /***** Night clock *****/
    body.night {
        background-image: url('images/moonDesktop.jpg');
        background-position: center;
        background-position-y: bottom;
    }

    .time_ctn {
        padding-top: 2rem;
        width: 200px;
    }

    .time_ctn>p {
        padding-bottom: 2rem;
        font-size: 3.5rem;
    }

    .time_ctn>span {
        padding: 1.5rem 2rem;
        font-size: 2rem;
    }
}