@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

/***** Morning style ******/
body {
    align-items: center;
    background-image: url('images/setUpDesktop.jpeg');
    background-position-y: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.container {
    color: #383435;
    column-gap: 2rem;
    display: grid;
    font-weight: 400;
    grid-template-columns: repeat(3, 1fr);
}

.time_ctn {
    align-items: center;
    background-color: rgba(127, 89, 126, 0.471);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 1rem;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    width: 100px;
}

.time_ctn>p {
    font-size: 2.5rem;
    padding: .5rem 0 1.5rem 0;
}

.time_ctn>span {
    background-color: rgba(88, 154, 204, 0.3);
    font-size: 1.4rem;
    font-weight: 300;
    padding: .5rem 1rem;
    text-align: center;
    width: 100%;
}

/***** Evening style ******/
body.evening {
    background-image: url('images/afternoonDesktop.jpeg');
}

.time_ctn.evening {
    text-shadow: rgba(163, 193, 225, 0.8) 0px 5px 10px;
    background-color: rgba(133, 169, 208, .6);
    color: #14283D;
}

.time_ctn.evening>span {
    background-color: rgba(67, 130, 33, 0.2);
    box-shadow: rgba(179, 204, 230, 1) 0 0 5px;
}

/***** Night style *****/
body.night {
    background-image: url('images/moonDesktop.jpg');
    background-position-x: center;
}

.time_ctn.night {
    background-color: rgba(255, 205, 137, 0.3);
    box-shadow: rgba(255, 205, 137, .5) 0 0 5px;
}

.time_ctn.night>span {
    background-color: rgba(1, 1, 39, 0.6);
}

@media screen and (min-width:534px) {

    .time_ctn {
        padding-top: 1.5rem;
        width: 150px;
    }

    .time_ctn>p {
        font-size: 3rem;
        padding: 1rem 0 2rem 0;
    }

    .time_ctn>span {
        font-size: 1.7rem;
        padding: 1rem 1.5rem;
    }
}

@media screen and (min-width:748px) {

    .time_ctn {
        padding-top: 2rem;
        width: 200px;
    }

    .time_ctn>p {
        font-size: 3.5rem;
        padding: 1.5rem 0 2.5rem 0;
    }

    .time_ctn>span {
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }
}