@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --color-primary: #2a9d8f;
    --color-secondary: #e76f51;
    --color-background: #f4f1de;
    --color-text: #264653;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    text-align: center;
    margin: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.ctn-content {
    margin: 1.8rem;
}

h1 {
    color: var(--color-primary);
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.description {
    width: 80%;
    font-size: 2rem;
    margin: 0 auto 3rem auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

input {
    background-color: var(--color-background);
    color: var(--color-text);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    margin: 0.5rem 0;
    text-align: center;
    padding: 1rem 0;
    width: 100px;
}

button {
    font-weight: 600;
    letter-spacing: .5px;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 1.5rem 2.5rem;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover{
    background-color: #2a9d904e;
    color: var(--color-primary);
    outline: var(--color-primary);
}

.result {
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-background);
    display: none;
    font-size: 1.8rem;
}

span {
    font-weight: 800;
}

.active {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}