@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #D77B7D;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_ctn {
    overflow: hidden;
    text-align: center;
    /* border: 1px solid white; */
    width: 90%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.calendar_ctn {
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    /* border: 1px solid yellow; */
}

.calendar_header {
    color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDF5F4;
    padding: 3rem;
}

.calendar_header .fas {
    font-size: 3rem;
    cursor: pointer;
}

.calendar_month {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.calendar_date {
    font-size: 1.4rem;
}

.calendar_body {
    color: #DDF5F4;
    padding-bottom: 3rem;
}

.calendar_week-days {
    grid-template-columns: repeat(7, 1fr);
    padding-top: 3rem;
    display: grid;
    font-size: 1.6rem;
}

.calendar_days {
    display: grid;
    font-size: 1.4rem;
    grid-template-columns: repeat(7, 1fr);
    padding: 4rem 0 0 0;
    row-gap: 2rem;
}

.calendar_days>div {
    letter-spacing: .2rem;
    padding: 1rem;
    transition: background-color 0.2s;
}

.calendar_days>div:hover:not(.today) {
    border: 0px solid #D77B7D;
    cursor: pointer;
    background-color: rgba(215, 123, 125, 0.3);
}

.prev-date,
.next-date {
    opacity: .5;
}

.today {
    background-color: #D77B7D;
}

@media screen and (min-width: 550px) {
    .main_ctn {
        width: 80%;
    }
}

@media screen and (min-width: 700px) {
    .main_ctn {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .main_ctn {
        width: 40%;
    }
}

@media screen and (min-width: 1350px) {
    .main_ctn {
        width: 35%;
    }
}