@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;500;900&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
}

.split_ctn {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.top-right_ctn {
    background-image: url('images/apple.png');
    height: 50%;
}

.bottom-left_ctn {
    background-image: url('images/samsung.png');
    height: 50%;
}

h3 {
    backdrop-filter: brightness(.8);
    color: #F5F5F5;
    font-size: 4.8rem;
    text-align: center;
    text-shadow: rgb(2, 2, 2) 0px 2px 2px;
    width: 100%;
    z-index: 99;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1;
    height: inherit;
}

.split_btn {
    background-color: #242424;
    border-radius: 5px;
    box-shadow: rgba(237, 237, 237, 0.5) 0px 2px 7px;
    color: rgb(237, 237, 237);
    cursor: pointer;
    font-size: 1.8rem;
    margin: 2.5rem 0;
    padding: 2rem 3rem;
    transform: scale(1);
    z-index: 99;
}

.split_btn:hover {
    background-color: #EDEDED;
    color: #242424;
    transform: scale(1.3);
    transition: all .7s;
}

a {
    color: inherit;
    text-decoration: none;
}

/*** container and wrapper active ****/
.active_top-right .top-right_ctn {
    height: 75%;
}

.active_top-right .bottom-left_ctn,
.active_top-right .bottom-left_wpp {
    height: 25%;
}

.active_bottom-left .bottom-left_ctn {
    height: 75%;
}

.active_bottom-left .top-right_ctn,
.active_bottom-left .top-right_wpp {
    height: 25%;
    background-position-y: bottom;
}

.active_top-right .top-right_wpp,
.active_bottom-left .bottom-left_wpp {
    z-index: -1;
    transition: z-index 2s ease-in-out;
}

/*** Transition ***/
.top-right_ctn,
.bottom-left_ctn,
.top-right_wpp,
.bottom-left_wpp {
    transition: all 1.5s ease-in-out;
}

@media screen and (min-width:600px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .top-right_ctn {
        height: 100%;
        width: 50%;
    }

    .bottom-left_ctn {
        height: 100%;
        width: 50%;
    }

    h3 {
        padding: 0 1rem;
    }

    .split_btn {
        font-size: 2.2rem;
        margin: 4rem 0;
        padding: 2rem 3.5rem;
    }

    .wrapper {
        height: 100%;
        width: inherit;
    }

    /*** container and wrapper active ***/
    .active_top-right .top-right_ctn {
        height: 100%;
        width: 75%;
    }

    .active_top-right .bottom-left_ctn,
    .active_top-right .bottom-left_wpp {
        height: 100%;
        width: 25%;
        background-position-x: right;
    }

    .active_bottom-left .bottom-left_ctn {
        height: 100%;
        width: 75%;
    }

    .active_bottom-left .top-right_ctn,
    .active_bottom-left .top-right_wpp {
        height: 100%;
        width: 25%;
    }
}