*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* LINKS */
a,
a:visited,
a:hover {
    color: white;
}

a:hover {
    text-decoration: underline;
}

html {
    font-family: arial, sans-serif;
    font-size: 62.5%;
}

body {
    overflow: hidden;
    background-color: #202124;
    height: 100vh;
}

/* HEADER */
.header-ctn {
    margin: 2rem 2.5rem 0 0;
}

.nav-list {
    font-size: 1.6rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: end;
}

.nav-list img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* MAIN */
.main-ctn {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
}

.main-img {
    align-self: center;
    width: 33rem;
    margin-bottom: 3rem;
}

.main-ctn p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3.5rem;
    color: rgb(187, 191, 196);
}

.main-ctn p a {
    color: #8ab4f8;
}

/* INPUT */
.input-search-ctn {
    padding: 2.5rem 0;
    border: 1.3px solid #5f6368;
    display: flex;
    height: 55px;
    background-color: rgba(32, 33, 36, 0.5);
    border-radius: 27px;
    margin: 0 auto;
    width: 70rem;
    position: relative;
}

.input-search-ctn:hover {
    border: 1.3px solid #303134;
    background-color: #303134;
    box-shadow: 1.3px 1.3px 10px rgba(0, 0, 0, 0.2),
        -1.3px -1.3px 10px rgba(0, 0, 0, 0.2);
}

.fa-solid {
    color: #898f96;
    position: absolute;
    bottom: 19px;
    left: 24px;
    font-size: 1.7rem;
}

.input-clear {
    border-right: 1px solid #898f96;
    position: absolute;
    right: 120px;
    height: 65%;
    bottom: 10px;
    padding-right: 2.5rem;
}

.input-clear img {
    cursor: pointer;
    right: 13px;
    top: 2px;
    position: absolute;
    width: 28px;
    height: 28px;
}

.input-img-camera {
    cursor: pointer;
    width: 30px;
    height: 29px;
    position: absolute;
    right: 22px;
    bottom: 11px;
}

.input-img-mic {
    cursor: pointer;
    position: absolute;
    width: 39px;
    height: 38px;
    right: 66px;
    bottom: 6px;
}

input {
    font-size: 2rem;
    color: white;
    background-color: transparent;
    outline: none;
    position: absolute;
    height: 100%;
    width: 65%;
    left: 59px;
    bottom: 2px;
}

/* hide elements */
.hide.input-clear,
.hide.popup {
    display: none;
}

/* popup small boxes */
.popup {
    bottom: -35px;
    border: 1px solid rgba(187, 191, 196, .5);
    padding: .7rem 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    color: rgb(187, 191, 196);
}

.popup:before {
    content: "";
    position: absolute;
    right: 28%;
    top: -21px;
}

.popup-clear {
    right: 123px;
}

.popup-mic {
    right: 10px;
    bottom: -35px;
}

.popup-camera {
    right: 0;
    bottom: -35px;
}

/* BUTTONS */
.buttons {
    margin-top: 3.5rem;
    text-align: center;
    gap: 1.5rem;
    display: flex;
    align-self: center;
}

button {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #e8eaed;
    padding: 0 2rem;
    height: 4rem;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

button:hover {
    border: 1.3px solid #5f6368;
}

/* FOOTER */
.footer-ctn {
    position: absolute;
    bottom: 0;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    width: 100%;
}

.footer-ctn span,
.footer-ctn a {
    color: #999fa5;
}

.footer-ctn span {
    border-bottom: 1px solid rgba(95, 99, 104, .5);
    padding: 1.5rem 0 1.5rem 2.7rem;
}

.footer-links {
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}