*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #a9b3bb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabs_container {
    margin-top: 3rem;
    color: #DDF5F4;
    text-align: center;
    padding: 2rem;
}

.header_title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.header_text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.image {
    margin-bottom: 3rem;
    width: 100%;
}

.image>img {
    border-radius: 10px;
    width: 100%;
}

.cards {
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}

.cards_btns {
    background-color: #DDF5F4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    /* background-color: #DDF5F4; */
    background-color: #bb9870;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #DDF5F4;
    font-size: 1.8rem;
}

.btn:hover {
    color: rgb(199, 220, 236);
    cursor: pointer;
}

.btn.active {
    background-color: #DDF5F4;
    color: #919ba2;
}

.card_content {
    color: #919ba2;
    background-color: #DDF5F4;
    text-align: left;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    display: none;
}

.card_title {
    margin-bottom: 1rem;
}

.card_content.active {
    display: block;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;
    }

    .tabs_container {
        margin-top: 0;
        margin: 0 auto;
        height: 80%;
    }

    .tabs_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .image {
        margin-bottom: 0;
    }

    .card_content {
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {

    .header_title {
        font-size: 4.5rem;
    }

    .tabs_content {
        height: 80%;
    }

    .header_text {
        font-size: 2.3rem;
    }

    .btn {
        font-size: 2.1rem;
    }
}