* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    background: linear-gradient(135deg, #f5af19, #f12711);
    background-repeat: no-repeat;
}

::selection {
    color: #fff;
    background: #f12711;
}

.container {
    max-width: 405px;
    background: #fff;
    margin: 50px auto;
    border-radius: 7px;
    padding: 28px 0 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.task_input {
    position: relative;
    height: 52px;
    padding: 0 25px;
}

.task_input>i {
    position: absolute;
    top: 50%;
    color: #999;
    font-size: 25px;
    transform: translate(17px, -50%);
}

.task_input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 70px;
    border: 1px solid #999;
}

.task_input input:focus,
.task_input input.active {
    padding-left: 69px;
    border: 2px solid #f12711;
}

.task_input input::placeholder {
    color: #bfbfbf;
}

.task_controls,
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_controls {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.controls_filters span {
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
}

.controls_filters span:first-child {
    margin-left: 0;
}

.controls_filters span.active {
    color: #f12711;
}

.btn {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    /* pointer-events: none; */
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.09);
}

.btn:active {}

.task_box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}

.task_box.overflow {
    overflow-y: auto;
    max-height: 300px;
}

.task_box::-webkit-scrollbar {
    width: 5px;
}

.task_box::-webkit-scrollbar-track {
    background: #f12711;
    border-radius: 25px;
}

.task_box::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}

.task_box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
}

.task_box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task_box .task label {
    display: flex;
    align-items: flex-start;
}

.task label input {
    margin-top: 7px;
    accent-color: #f12711;
}

.task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
}

.task label p.checked {
    text-decoration: line-through;
}

.task_box .settings {
    position: relative;
}

.settings :where(i, li) {
    cursor: pointer;
}

.settings .task-menu {
    position: absolute;
    right: -5px;
    bottom: -65px;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    z-index: 10;
}

.task_box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
}

.task_box .task:first-child .task-menu {
    bottom: -65px;
    transform-origin: top right;
}

.task-menu.show {
    transform: scale(1);
}

.task-menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
}

.task-menu li:last-child {
    margin-bottom: 0;
}

.settings li:hover {
    background: #f5f5f5;
}

.settings li i {
    padding-right: 8px;
}

@media (max-width: 400px) {
    body {
        padding: 0 10px;
    }

    .wrapper {
        padding: 20px 0;
    }

    .controls_filters span {
        margin: 0 5px;
    }

    .task_input {
        padding: 0 20px;
    }

    .task_controls {
        padding: 18px 20px;
    }

    .task_box {
        margin-top: 20px;
        margin-right: 5px;
        padding: 0 15px 10px 20px;
    }

    .task label input {
        margin-top: 4px;
    }
}