@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Crimson+Text:wght@400;600;700&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Crimson Text', serif; */
    font-size: 62.5%;
}

body {
    background-position: bottom;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.main_ctn {
    align-items: center;
    background: -moz-linear-gradient(225deg, hsla(37, 93%, 67%, .5) 16%, hsla(115, 34%, 45%, .5) 67%, hsla(157, 58%, 12%, .5) 100%);
    background: -webkit-linear-gradient(225deg, hsla(37, 93%, 67%, .5) 16%, hsla(115, 34%, 45%, .5) 67%, hsla(157, 58%, 12%, .5) 100%);
    background: hsla(37, 93%, 67%, .5);
    background: linear-gradient(225deg, hsla(37, 93%, 67%, .5) 16%, hsla(115, 34%, 45%, .5) 67%, hsla(157, 58%, 12%, .5) 100%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    width: 85%;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 3rem;
    border: 1px solid rgba(171, 93, 71, .5);
}

.form {
    width: 100%;
}

.input_field>input {
    text-shadow: rgb(0, 0, 0) 0px 2px 2px;
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.5rem 0 1.5rem 2rem;
    border-radius: 20px;
    outline: none;
    font-family: 'Cinzel', serif;
    color: #fedc53;
    letter-spacing: 1.5px;
    background-color: rgba(171, 93, 71, .3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input_field>input:focus {
    box-shadow: #fedc53 2px 2px 20px;
    /* border: 1px solid rgba(255, 255, 255, .7); */
    border: 1px solid #fedc53;
    transition: all .5s;
    background-color: rgba(171, 93, 71, .5);
}

::placeholder {
    color: white;
}

.input_btn {
    margin: 1.5rem 0 3rem 0;
}

.input_btn>input {
    outline: none;
    padding: 1.5rem 0;
    width: 100%;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    background-color: rgba(250, 172, 89, 0.8);
    color: #211023;
    letter-spacing: 1.8px;
    font-size: 1.6rem;
    cursor: pointer;
}

.input_btn>input:hover,
.footer_icon:hover {
    background-color: #f4a52d;
    box-shadow: #fedc53 2px 2px 20px;
    color: white;
    text-shadow: #fedc53 2px 2px 20px;
    transition: all .6s;
}

.footer {
    text-align: center;
    /* margin-top: 5rem; */
}

.footer_text {
    text-shadow: rgb(0, 0, 0) 0px 2px 2px;
    font-size: 1.7rem;
    letter-spacing: 1.3px;
}

.footer_icons-ctn {
    font-size: 2rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.footer_icon {
    cursor: pointer;
    background-color: rgba(250, 172, 89, 0.6);
    border-radius: 60px;
    color: rgba(34, 15, 36, .7);
    padding: 0.5em 0.6em;
}

.footer_icon:first-of-type {
    padding: 0.5em 0.5em;
}

@media screen and (min-width:500px) {
    .main_ctn {
        max-width: 70%;
        padding: 4rem 5rem;
    }
}

@media screen and (min-width:676px) {
    img {
        height: 200px;
        width: 200px;
        margin-bottom: 4rem;
    }

    .main_ctn {
        max-width: 69%;
        /* padding: 5rem 6rem; */
    }

    .input_field>input {
        font-size: 1.8rem;
        margin-bottom: 3rem;
        padding: 2rem 0 2rem 2.5rem;
    }

    .input_btn {
        margin: 2rem 0 3.5rem 0;
    }

    .input_btn>input {
        font-size: 1.8rem;
        padding: 2rem 0;
        letter-spacing: 1.5px;
    }

    .footer_text {
        font-size: 1.9rem;
        letter-spacing: 1.4px;
    }

    .footer_icons-ctn {
        font-size: 2.4rem;
        margin-top: 3.5rem;
        gap: 3rem;
    }

    /* .footer_icon:last-of-type,
    .footer_icon:nth-of-type(even) {
        padding: 0.5em 0.68em;
    } */
}

@media screen and (min-width:860px) {
    body {
        background-size: cover;
        background-position-y: center;
    }

    .input_btn {
        max-width: 60%;
        margin: 2rem auto 1.5rem auto;
    }

    .footer {
        margin-top: 3.5rem;
    }

    .footer_text {
        font-size: 2.1rem;
    }

    .footer_icons-ctn {
        font-size: 2.6rem;
    }
}

@media screen and (min-width:1040px) {
    .main_ctn {
        max-width: 640px;
        padding: 5rem 6rem;
    }

    .input_field {
        max-width: 600px;
        margin: auto auto;
    }
}

@media screen and (min-width:1200px) {
    .input_field>input {
        letter-spacing: 2px;
        font-size: 2rem;
    }

    .input_btn>input {
        font-size: 2rem;
        letter-spacing: 1.7px;
    }

    .footer {
        margin-top: 4.5rem;
    }

    .footer_text {
        letter-spacing: 2px;
    }

    .footer_icons-ctn {
        font-size: 3rem;
        gap: 4rem;
    }
}